In [71]:
import pandas as pd
import numpy as np

In [86]:
data = pd.read_csv('../data/examen_final.csv')

              Cu
0       7.555606
1       7.565831
2       7.555606
3       7.555606
4       7.562423
5       7.572647
6       7.576055
7       7.596505
8       7.603321
9       7.599913
10      7.606729
11      7.627178
12      7.644219
13      7.647627
14      7.661260
15      7.678301
16      7.695342
17      7.708975
18      7.708975
19      7.719200
20      7.726016
21      7.736241
22      7.736241
23      7.732832
24      7.736241
25      7.743057
26      7.746465
27      7.743057
28      7.743057
29      7.739649
...          ...
231465 -0.937433
231466 -0.968107
231467 -0.978331
231468 -1.026046
231469 -1.083985
231470 -1.094210
231471 -1.070353
231472 -1.073761
231473 -1.094210
231474 -1.104434
231475 -1.124884
231476 -1.169190
231477 -1.216905
231478 -1.285069
231479 -1.346416
231480 -1.400947
231481 -1.417988
231482 -1.452070
231483 -1.513418
231484 -1.510010
231485 -1.492969
231486 -1.503193
231487 -1.520234
231488 -1.544091
231489 -1.578173
231490 -1.762216
231491 -1.840604
231492 -1.816747
231493 -1.837196
231494 -1.959891

[231495 rows x 1 columns]